{% extends 'base.html' %}

{% block title %}
	Form List
{% endblock %}

{% block content %}
<div class="row text-center">
	<div class="col">
		<h2 class="text-center">Forms</h2>
	</div>
</div>
<hr />
	<div class="container">
		<div class="row">
			<div class="col-sm-3 bottom-padding">
					<a class="card form-card stretched-link text-center" href="{% url 'core:form_create' %}">
						<div class="card-header">
							<h4 class="card-title">New Form</h4>
						</div>
						<i class="fas fa-plus-square fa-3x icon-margin"></i> 
					</a>
				</div>
			{% for form in forms %}
			<div class="col-sm-3 bottom-margin">
				<div class="card form-card text-center">
					<div class="card-header">
						<h4 class="card-title"><a href="{% url 'core:form_view' pk=form.id %}">{{form.name}}</a></h4>
					</div>
					<div class="card-block">
						<p class="card-text">{{form.address}}</p>
						<p class="card-text">{{form.insurance}}</p>
						<p class="card-text">{{form.choice}}</p>
					</div>
					{% comment %} <div class="card-header"> {% endcomment %}
						<p class="card-text"><small class="text-muted">{{form.created_ts}} - {{form.created_by}}</small></p>
					{% comment %} </div> {% endcomment %}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}