{% block content %}

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Delete {{form.name}}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Are you sure?
			</div>
			<div class="modal-footer">
					<form action="{% url 'core:form_delete' pk=form.id %}" class="form" method="post">
							{% csrf_token %}
							<div class="text-center" >
								<button class="btn btn-danger">Delete</button>
							</div>
					</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
