{% extends 'base.html' %}

{% block title %}
	Patient List
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12 col-md-offset-2 col-md-8">
		<h2 class="text-center">Patient Index</h2>
			<a class="btn btn-primary" role="button" href="{% url 'core:patient_create' %}">Create Patient</a>
			<hr>
		<h4 class="text-center"><b>Patient Table</b></h4> 
		  <table class="table">
			<thead>
			  <tr>
				<th>Name</th>
				<th>Address</th>
				<th>Insurance</th>
				<th>Fave Animal</th>
				<th>Created on</th>
				<th>Created by</th>
			  </tr>
			</thead>
			<tbody>
			  {% for patient in patients %}
			  <tr>
				<td><a href="{% url 'core:patient_detail' pk=patient.id %}">{{patient.name}}</a></td>
				<td>{{patient.address}}</td>
				<td>{{patient.insurance}}</td>
				<td>{{patient.get_favorite_animal_display}}</td>
				<td>{{patient.created_ts}}</td>
				<td>{{patient.created_by}}</td>
			  </tr>
			  {% endfor %}
			</tbody>
		  </table>
{% endblock %}