{% extends 'base.html' %}

{% block title %}
	Patient List
{% endblock %}

{% block content %}
<div class="row text-center">
	<div class="col">
		<h2 class="text-center">Patient Index</h2>
		<a class="btn btn-primary" role="button" href="{% url 'core:patient_create' %}">Create Patient</a>
		<hr>
			<h4 class="text-center"><b>Patient Table</b></h4> 
			<table class="table">
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Street</th>
						<th>City</th>
						<th>State</th>
						<th>Zipcode</th>
						<th>Insurance</th>
						<th>Choice</th>
						<th>Created on</th>
						<th>Created by</th>
					</tr>
				</thead>
				<tbody>
					{% for patient in patients %}
					<tr>
						<td><a href="{% url 'core:patient_view' pk=patient.id %}">{{patient.fname}} {{patient.lname}}</a></td>
						<td>{{patient.street}}</td>
						<td>{{patient.city}}</td>
						<td>{{patient.state}}</td>
						<td>{{patient.zipcode}}</td>
						<td>{{patient.insurance}}</td>
						<td>{{patient.get_favorite_animal_display}}</td>
						<td>{{patient.created_ts}}</td>
						<td>{{patient.created_by}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</hr>
	</div>
</div>
{% endblock %}