{% load staticfiles %}
<head>
	<meta charset="utf-8">
	<title>{% block title %}{{project_name}}{% endblock %}</title>
	{% block styles %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/login.css' %}"/>
	
	{% endblock %}
</head>
<body class="text-center">
	<form class="form-signin" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		{% comment %} <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
		<label for="inputUser" class="sr-only">Username</label>
		<input type="text" id="inputUser" class="form-control" placeholder="Username" required autofocus>
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" id="inputPassword" class="form-control" placeholder="Password" required> {% endcomment %}
		<button class="btn btn-lg btn-outline-dark" type="submit">Sign in</button>
		<p class="mt-5 mb-3 text-muted">&copy; 2019</p>
	</form>
  </body>